
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
#html{
    height: 100%;
    width: 100%;
}



body{
    height: 100%;
    width: 100%;

    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    font-family: 'Alkatra', cursive; !important;
    background-image: url("../img/back.jpg");

}


body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-thumb {
    background-color: #E1E4ED;
    border-radius: 30px;
    border: 3px grey;
}


header{
    display: flex;
    background: linear-gradient(to bottom right, white 20%,#FFD4CB 80%);
    height: 15%;
    width: 99%;
    box-shadow: 8px 8px 12px #aaa;
    position: sticky;
    top: 1px;
    z-index: 1;
}

#header-a-log{
    margin-top: 0.5%;
    margin-left: 18%;
}

#main-content{
    width: 100%;
    height: 70% ;
}


footer{
    background: linear-gradient(to bottom right, white 20%,#FFD4CB 80%);
    height: 50px;
    width: 100%;
    margin-top: 15%;
    text-align: center;
    padding-top: 15px;
    bottom: 0
}

#MainMenu
{
    display: flex;
    border: 1px solid darkslategray;
    height: 58px;
    width: 100px;
    justify-content: center;
    border-radius: 15px;
}


#a{
    padding-top: 20px;
    padding-left: 40px;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

#primary_nav_wrap ul
{
    display: flex;
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0;

}

#primary_nav_wrap ul a
{
    display:block;
    color: darkslategray;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{

    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
    background:#ddd
}

#primary_nav_wrap ul li:hover
{
    background:#f6f6f6
}

#primary_nav_wrap ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0
}

#primary_nav_wrap ul ul li
{
    float:none;
    width:200px
}

#primary_nav_wrap ul ul a
{
    line-height:120%;
    padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
    top:0;
    left:100%
}

#primary_nav_wrap ul li:hover > ul
{
    display:block;
    background: #EDEDED;
    border: 1px solid black;
    border-radius: 5px;
}
/*****************************************************************************/

#primary_nav_wrap1{
    height: 100%;

}


#primary_nav_wrap1 ul
{
    display: flex;
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0;
    height: 100%;

}

#primary_nav_wrap1 ul a
{
    display:block;
    color: darkslategray;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap1 ul li
{
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap1 ul li.current-menu-item
{
    background:#ddd
}

#primary_nav_wrap1 ul li:hover
{
    background:#f6f6f6
}

#primary_nav_wrap1 ul ul
{
    display:none;
    position:absolute;

    left:0;
    background:#fff;
    padding:0
}

#primary_nav_wrap1 ul ul li
{
    float:none;
    width:200px
}

#primary_nav_wrap1 ul ul a
{
    line-height:120%;
    padding:10px 15px
}

#primary_nav_wrap1 ul ul ul
{
    top:0;
    left:100%
}

#primary_nav_wrap1 ul li:hover > ul
{
    display:block;
    margin-top: -100%;
    margin-left: 55%;
    background: #EDEDED;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 20px;
}

/******************************************************************************/

#marmitheo{
    font-family: 'Alkatra', cursive;

    padding-left: 4%;
    padding-top: 30px;
    padding-bottom: 0;
    font-size: xx-large;
}

#marmitheo a {
    text-decoration: none;
    color: black;
}


#hand{
    width: 150px;
    height: 115px;
    padding-top: 5px;

}

#rech{
    height: 30%;
    width: 100%;
    margin-top: 50px;
    margin-right: 15%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background:linear-gradient(to bottom right, white 20%,#FFD4CB 90%);

}


#menu{
    padding-right: 30px;
    padding-top: 2px;
}

#menu1{
    padding-right: 30px;
    padding-top: 20px;
    padding-left: 4px;
}

#menu1 ul li{
    margin-left: 10%;
}

#primary_nav_wrap ul li{

}

#Login{

    padding: 20px;
    margin-top: 25px;
    margin-left: 18%;

    border-radius: 15px;
    background:linear-gradient(160deg, white ,#FFD4CB 30%);
    height: 58px;
    width: 100px;
}

#login-form{
    display: flex;
    flex-direction: column;
    padding-left: 9%;
    height: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
    margin-left: 27%;
    width: 35%;
    border: 1px solid  rgb(0,0,0,0.2);
    font-family: 'Alkatra', cursive;
    font-size: 2em;
    background: linear-gradient(to bottom right, white 20%,#FFD4CB 80%);
    box-shadow: 8px 8px 12px #FFD4CB;

}

input::placeholder {
    font-family: 'Alkatra', cursive;
    opacity: 1;
}

input {
    font-family: 'Alkatra', cursive;
}

#input{
    height: 100%;
    width: 75%;
}

#log{
    margin-right: 5%;
}

.form-control{
    margin-left: 20%;
    border-radius: 10px;
}

.btn{
    margin-left: 30%;
    border-radius: 15px;
}

.error{
    padding-left: 18%;
    font-size: x-large;
    color: darkred;
}

#carrousel{
    border: black 1px solid;
}

#General{
    background: linear-gradient(to top right, #FFD4CB 1%,white 80%) ;
    border-radius: 50px;
    margin-top: 5%;
    margin-left: 22%;
    margin-right: 20%;
    padding-bottom: 3%;
    border: 1px solid black;
    height: 100%;
}

#carrousel{
    height: 40%;
    width: 60%;

    margin-top: 7%;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom right, white 1%,#FFD4CB 80%);
    border: 5px solid #E8CFB0;
    border-radius: 50px;

}



#display-image{
    height: 600px;
    max-width: 90%;
    margin: 5px;
    z-index: 0;
}

#all{
    display: flex;
    flex-direction: row;

    margin-left: 25%;
}

#icone_droite , #icone_gauche{
    margin-top: 31%;
    height: 100px;
    width: 50px;

    border: 3px solid #E8CFB0;
    border-radius: 25% 0%  0% 25%;
    background: linear-gradient(to top left, #FFD4CB 1%,white 80%) ;

}

#icone_droite{
    border-radius:  0% 25% 25% 0% ;
    background: linear-gradient(to top right, #FFD4CB 1%,white 80%) ;
}

#icone_gauche svg{
    padding-top: 40px;
    padding-left: 15px;
}

#icone_droite svg{
    padding-top: 40px;
    padding-left: 15px;
}

#b{

    height: 100px;
    width: 50px;
    background: linear-gradient(to top right, #FFD4CB 1%,white 80%) ;

    border: 3px solid #E8CFB0;
    border-radius:  0% 25% 25% 0%;
    position: sticky;
    top:50%;

}


#MainMenurot{
    padding-top: 50px;
    height: 100%;
    width: 68%;
}


#Creation{
    margin-left: 37%;
    margin-top: 5%;
    font-size: xx-large;
}

#name{
    display: flex;
    flex-direction: column;
    margin-left: -25%;
    border-radius: 25px;
    box-shadow: 2px 2px 3px 2px #aaaaaa;

}

.form-ingredient-input,.form-tag-input{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 2px 2px 3px 2px #aaaaaa;
    margin-left: 35%;
    margin-top: 2%;
}

#description{
    display: flex;
    flex-direction: column;
    margin-left: -19%;
    height: 16em;
    width: 20em ;
    border: 1px solid black;
    background: white;
    border-radius: 30px;
    padding: 2%;
    box-shadow: 2px 2px 3px 2px #aaaaaa;
}


#nom{
    margin-left: 20%;
    margin-top: 13%;
    margin-right: 5%;
}

#descri{
    margin-left: 20%;
    width: 100%;
}


#one{
    display: flex;
    flex-direction: row;

    margin-top: 5%;
    height: 100%;
    width: 100%;
}

#nameadd{
    margin-left: -15%;
}

#descriadd{
    margin-left: 5%;
}

#imaadd{
    margin-right: 5%;
    font-size: x-large;

}
#ima{
    margin-left: 20%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}

#preview-container{
    margin-left: 0;
}

#preview-image{
    margin: 0;
}

#inpadd{
    margin-left: 2% ;
    margin-top: 1%;
}

#decouverte{
    text-align: center;
    width: 50%;
    height: 100%;
    padding-top: 4%;
    margin-left: 26%;
    font-size: xxx-large;

}



#carrousel #display-image{
    border-radius: 50px ;
}

textarea{
    resize: none;
}

#ing-tag{
    display: flex;
    flex-direction: row;
}

#alltag,#alling{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.CENTER{
    text-align: center;
}

#sub-reset{
    margin-top: 10%;
}

#form-rech{
    width: 40%;
}
#separateur{
    height: 10%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 25%;
}



#separateur img{
    margin-top: 10%;

    width: 100%;
    height: 100%;
}

.recettes-list{

    display:grid;
    grid-template-columns: 40% 40%;
    grid-column-gap: 5%;


}

.recette{
    display: flex;
    flex-direction: row;

    height: 200px;
    width: 100%;
    background: #C0C0C0;
    margin-top: 5%;
    margin-left: 18% ;
    border-radius: 20px;
}

.recette img{
    max-width: 90%;
    height: 90%;
    margin-top: 3.5%;
    border-radius: 10px 0 0 10px;
}

#img-recherche{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#nom-recherche{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    font-size: 3vw;
    line-height: 200px;
}


